     </div>
     <% if (page_name != 'index') { %>
          <div class="ui inverted vertical footer segment">
               <div class="ui center aligned container">
                    <div class="ui stackable inverted divided grid">
                         <div class="seven wide column">
                              <h4 class="ui inverted header">Follow me</h4>
                              <div class="ui grid social-icons">
                                   <div class="five wide center aligned column">
                                        <a href="https://www.linkedin.com/in/kristinmascolo"><i class="linkedin icon"></i></a>
                                   </div>
                                   <div class="six wide center aligned column">
                                        <a href="https://www.instagram.com/kris_mascolo/"><i class="instagram icon"></i></a>
                                   </div>
                                   <div class="five wide center aligned column">
                                        <a href="https://twitter.com/kristin_mascolo?lang=en"><i class="twitter icon"></i></a>
                                   </div>
                              </div>
                         </div>
                         
                         <div class="seven wide column">
                              <h4 class="ui inverted header">Stay in the know</h4>
                              <div class='centerMe'>
                                   <div class='cta'>
                                        <span>Subscribe to Updates</span>
                                        <form id="email-form">
                                             <div class='input'>
                                                  <input placeholder='E-mail'>
                                             </div>
                                             <div class='button'>
                                                  <button disabled='disabled' type='submit'>Send</button>
                                             </div>
                                        </form>
                                   </div>
                                   <div>
                                        <p id='email-error'></p>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="ui inverted section divider"></div>
                    <!--  LINKS 
                    <div class="ui horizontal inverted small divided link list">
                         <a class="item" href="#">Contact</a>
                         <a class="item" href="#">Terms and Conditions</a>
                         <a class="item" href="#">Privacy Policy</a>
                    </div>
                    -->
                    <p style="font-size: 10px"><i class="copyright outline icon"></i>2019</p>
               </div>
          </div>
          <% }; %>
       
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TimelineLite.min.js"></script>
        <script src="social.js"></script>
        <script src="script.js" type="text/javascript"></script>
    </body>
</html>