<!DOCTYPE html>
<html>
    <head>
        <title>Kristin Mascolo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=uprum" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/animate.min.css">
        <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
        <link rel="stylesheet" href="/stylesheets/social.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="ui container center aligned top wrapper">
                 <!-- FLASH MESSAGES -->     
                <% if(error && error.length > 0){ %>
                <div class="container">
                    <div class="ui red message">
                    <%= error %>
                    </div>
                </div>
                <% }; %>
                
                <% if(success && success.length > 0){ %>
                    <div class="container">
                        <div class="ui positive message">
                        <%= success %>
                        </div>
                    </div>
                <% }; %>
                <h1 class="headline">KRISTIN MASCOLO</h1>
                <nav style='z-index: 9999;'>
                    <div class="ui secondary menu">
                        <a  <% if (page_name ==='index'){%>class="item active" <% } else { %> class= 'item' <% } %> %> id="nav-home" href="/">
                            Home
                        </a>
                        <a <%if (page_name ==='blog'){%>class="item active"<% } else { %> class= 'item' <% } %> id="nav-blog" href="/blog">
                            Blog
                        </a>
            
                        <div class="right menu">
                            <% if(!currentUser){ %>
                                <a  <%if (page_name ==='login'){ %> 
                                    class="item active" 
                                <% } else { %> 
                                    class= "item" 
                                <% }; %>  
                                href="/login"> Login / Register 
                                 </a>
                            <% } else { %> 
                            <a class="item" href="/logout">
                                 Log Out
                             </a>
                                <% if(currentUser.isAdmin === "1"){ %>
                                    <div class="ui label"> Admin View</div>
                                <% } %> 
                            <% } %>
                        </div>
                    </div>
                </nav>
            </div>
       

    
    
        