<% include partials/header %>
    <div class="ui container center aligned">
        <h1 class="oops">Page not found</h1>  
        <p class="oops-description">Looks like you've stumbled on a page that doesn't exist. No worries! It happens to the best of us.<p>
        
        <a class="ui button orange oops" href="/blog">Read my blog instead!</a>
    </div>
    
<% include partials/footer %>