<% include partials/header %>

<div class="ui container" style="margin: 0;">
    
    <% include index/profile %>
    
    <!--<% //include index/about %>-->
    
    <!--<% //include index/blog %>-->
    
</div>
    
<% include partials/footer %>