<% include ./partials/header %>
<div class="ui main text container segment top" id="new-page">
    <div class="ui huge header">What's on your mind?</div>
    <form class="ui form" action="/blog" method = "POST" enctype="multipart/form-data">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder = "title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <div class="field">
            <label>Category</label>
            <select name="category">
                <% categories.forEach(function(category){ %>
                    <option value = "<%= category._id %>"><%= category.name %></option>
                <% }); %>
            </select>  
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea id="editor" name="blog[body]"></textarea>
        </div>
        
        <button class="ui icon button" type ="submit">
             <i class="paper plane outline icon"></i>Post!
        </button>
    </form>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</div>
<% include ./partials/footer %>