<% include partials/header %>
<div class="ui container portfolio">
  <div class="ui top attached tabular menu">
    <a class="active item"data-tab="first">EEE</a>
    <a class="item" data-tab="second">PRL</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
    EEE
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    PRL
  </div>
</div>
    
<% include partials/footer %>