

<div class="js--wp-2 top">
        <div class="ui left aligned segment" id="about">
            <div class="js--wp-2-content">
                <div class="ui text container">
                    <h2 class="center aligned"></h2>
                    <div class="ui list">
                        <div class="item">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="graduation cap icon"></i>
                                </div>
                                <div class="thirteen wide column">
                                    <div class="content">
                                        <div class="header">Education</div>
                                        <div class="description">Syracuse University student pursuing a dual degree in Entrepreneurship and Public Relations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="certificate icon"></i>
                                </div>
                                <div class="thirteen wide column">
                                    <div class="content">
                                        <div class="header">Honors</div>
                                        <div class="description">Hybrid student at Syracuse University College of Law's Tech Commercialization Center, Whitman Leadership Scholarship Recipient</div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="item">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="users icon"></i>
                                </div>
                                <div class="thirteen wide column">
                                    <div class="content">
                                        <div class="header">Campus Involvement</div>
                                        <div class="description">Delta Sigma Pi Business Professional Fraternity, E-Board Member </div>
                                        <div class= "description">Professional Fraternity Council, Secretary</div> 
                                        <div class= "description">Enactus, Lead Whitman Ambassador</div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="item">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="users icon"></i>
                                </div>
                                <div class="thirteen wide column">
                                    <div class="content">
                                        <div class="header">Interests</div>
                                        <div class="description">Writing on recent corporate strategy news</div>
                                        <div class="description">Volunteering at Helping Hounds Dog Rescue</div>
                                        <div class="description">Working with younger students on resume building and career readiness</div>
                                        <div class="description">Rooting for SU Football and Basketball</div>
                                        <div class="description">Practicing classical ballet</div>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>