<div class="js--wp-1">
        <div class="ui center aligned segment" id="profile">
            <!--<a style="float:right; margin-top: -2.5%; margin-right: 3%" href="/login">Log In</a>-->
            <!--<img class="profile-img" src="/stylesheets/folk-pattern.png">-->
            <h1 class="js--wp-1-heading" id='profile-name'> Kristin Mascolo</h1>
            <h2 id="tagline" class="js--wp-1-heading"> Aspiring Professional in Entrepreneurship and Public Relations </h3>
            <div id="wrapper">
                <img class="ui middle aligned medium circular image profile js--wp-1-img" src = "https://static.wixstatic.com/media/526311_223796dd9f6149179d9942bdf71fd265~mv2.jpg/v1/crop/x_2,y_0,w_850,h_844/fill/w_550,h_546,al_c,q_80,usm_0.66_1.00_0.01/526311_223796dd9f6149179d9942bdf71fd265~mv2.webp" class="hover"> 
            </div>
            <a class="ui button home btn-prim js--wp-1-buttons" id="primary-btn" href="/portfolio">Portfolio</a>
            <a class="ui button home btn-sec js--wp-1-buttons" id="secondary-btn" href="/blog">Blog</a>
            <br>
            

            <div class="container-1">
              <div class="cube">
                <div class="plus">
                  <div class="plus-horizontal"></div>
                  <div class="plus-vertical"></div>
                </div>
                <div class="quadrant">
                    <div class="quadrant__item" id="arrow-up"> 
                        <div class="quadrant__item__content">
                            <svg enable-background="new 0 0 32 32" height="26px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="26px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="arrow-up"><path d="M31.993,6.077C30.816,6.6,29.552,6.953,28.223,7.11c1.355-0.812,2.396-2.098,2.887-3.63  c-1.269,0.751-2.673,1.299-4.168,1.592C25.744,3.797,24.038,3,22.149,3c-3.625,0-6.562,2.938-6.562,6.563  c0,0.514,0.057,1.016,0.169,1.496C10.301,10.785,5.465,8.172,2.227,4.201c-0.564,0.97-0.888,2.097-0.888,3.3  c0,2.278,1.159,4.286,2.919,5.464c-1.075-0.035-2.087-0.329-2.972-0.821c-0.001,0.027-0.001,0.056-0.001,0.082  c0,3.181,2.262,5.834,5.265,6.437c-0.55,0.149-1.13,0.23-1.729,0.23c-0.424,0-0.834-0.041-1.234-0.117  c0.834,2.606,3.259,4.504,6.13,4.558c-2.245,1.76-5.075,2.811-8.15,2.811c-0.53,0-1.053-0.031-1.566-0.092  C2.905,27.913,6.355,29,10.062,29c12.072,0,18.675-10.001,18.675-18.675c0-0.284-0.008-0.568-0.02-0.85  C30,8.55,31.112,7.395,31.993,6.077z" fill="#973928"/><g/><g/><g/><g/><g/><g/></svg>
                        </div>
                     </div>
                     <div class="quadrant__item" id="arrow-right">
                        <div class="quadrant__item__content">
                            <svg enable-background="new 0 0 32 32" height="28px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="28px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="arrow-right"></svg>
                        </div>
                    </div>
                <div class="quadrant__item">
                    <div class="quadrant__item__content">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                        width="430.117px" height="28px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;"
                    	    xml:space="preserve" class="arrow-left"><path d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707
                    		c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21
                    		v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824
                    		C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463
                    		c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z
                    		M5.477,420.56h92.184v-277.32H5.477V420.56z" fill="#973928"/>
                            </svg>
                    </div>
              </div>
                  
                  <div class="quadrant__item" id="arrow-down">
                    <div class="quadrant__item__content">
                        <svg baseProfile="tiny" height="35px" id="Layer_1" version="1.2" viewBox="0 0 510 510" width="35px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="arrow-down"><g><path <path d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z
			 M255,153c56.1,0,102,45.9,102,102c0,56.1-45.9,102-102,102c-56.1,0-102-45.9-102-102C153,198.9,198.9,153,255,153z M63.75,459
			C56.1,459,51,453.9,51,446.25V229.5h53.55C102,237.15,102,247.35,102,255c0,84.15,68.85,153,153,153c84.15,0,153-68.85,153-153
			c0-7.65,0-17.85-2.55-25.5H459v216.75c0,7.65-5.1,12.75-12.75,12.75H63.75z M459,114.75c0,7.65-5.1,12.75-12.75,12.75h-51
			c-7.65,0-12.75-5.1-12.75-12.75v-51c0-7.65,5.1-12.75,12.75-12.75h51C453.9,51,459,56.1,459,63.75V114.75z" fill="#973928"/></g></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="proceed-div">-->
            <!--    <i class= "chevron down icon" id="proceed"></i>-->
            <!--    <p id="proceed-text" style="opacity:0; margin-top: -15px;">Keep Going!</p>-->
            <!--</div>-->
            
        </div>
    </div>