/* Components */

/*
PALLETTE
f77754 - Orange
018790 - blue/green
0a516d - blue
2b2726 - dark blue
*/




html, body {
    background: #fbf9f4;
    color: #3A001E;
    height: 100%;
}

.ui.header {
    color: #5F6A6E;
}

h1, h2, h3, h4, p, li, ul, .ui.menu {
    font-family:  'Cuprum', sans-serif;
}

hr {
    margin: 5% 15%;
    color: rgba(200, 200, 200, .5);
}

li {
    font-size: 115%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 115%;
}

.card {
    text-align: left;
}

nav {
    margin-bottom: 15px;
}

.wrapper {
    min-height: 100%;
    /*margin-bottom: -100px;*/
    /*padding-bottom: 150px;*/
    /*margin-bottom: -100px;*/
}

#main {
    padding-bottom: 150px;
    margin: 0 auto -200px;
    overflow: hidden;
}

/* BUTTONS */

.ui.animated.button {
    position:static ;
}

.button.home {
    margin-top: 5%;
    min-width: 250px;
    width: 15%;
    text-align: center;
    padding: 15px 0;
    outline: none;
    border-radius: 0;
    background: #fff;
}

a.ui.button.home {
    color: #f77754;
}

a.ui.button.home.blog {
    color: #2b2726;
}


/* nav */ 

.ui.secondary.menu .item{
    transition: all 1s;
    border-radius: 0;
    margin-right: 10%;
}

nav .ui.secondary.menu .item:hover{ 
    color: #000;
    border-radius: 0;
    transform: translate(0px, -2px);
    font-size: 15px;
    border-bottom: .5px solid #bababa;
}

.ui.secondary.menu .item.active {
    border-bottom: 1px solid black;
    background-color: #D6D1C3;
    border-radius: 0;
    color: #fff;
    transition: all .6s;
}

.ui.secondary.menu .item.active:hover {
    color: #fff;
}

.ui.menu .item{
    text-transform: uppercase;
    color: #696B78;
}

.headline {
    color: #006CBF;
    padding-top: 10px;
    /*padding: 15px 0;*/
    letter-spacing: .1em;
    font-weight: 400;
}

.footer .ui.form .label-footer {
    color: #fff;
}

.email-error {
    color: #fff;
    font-size: 14px;
}

.footer .ui.form .email-footer {
    width: 75%;
    height: 35px;
}

.ui.button.button-footer {
    float: right;
    height: 35px;
}

.social-icons i {
    font-size: 50px;
    transition: all .5s;
    color: #fff;
    color: rgba(255,255,255, .9);
}

.social-icons i:hover {
    color: #e0e0e0;
    color: rgba(224, 224, 224, .9);
}

.ui.grid.social-icons {
    margin-top: 20px;
}

/* Landing page */

.tagline {
    margin-bottom: 3%;
    font-weight:300;
    letter-spacing: .02em;
}

.profile {
    animation-duration: 3s;
}

.profile img{
    border: 2px solid #D8D8D9;
    transition: .5s;
    /*margin: 15px 0;*/
    margin-bottom: 6%;
}

.profile .image:hover {
    transform: scale(1.05);
}

.ui.header.side {
    color: #f77754;
    font-weight: 300;
}

.ui.text.shape.title {
    min-width: 50%;
    min-height: 100px;
    text-align: center;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    margin-bottom: 20px;
}

.ui.button.home.contact {
    border: 1px solid #f77754;
    font-size: 16px;
    transition: all .5s;
    background: #FFFCF5;
}

.ui.button.home.contact:hover {
    color: #FFFCF5;
    background-color: #f77754;
    border: 1px solid #8C8470;
}

.ui.container.index {
    /*height: 1vh;*/
    overflow: hidden;
    max-height: 100%;
}

/* BLOG PAGE */

.ui.label {
    background-color: #f77754;
    color: white;
}

.ui.primary.button {
    background-color: #006CBF;
    transition: all .5s;
}

.ui.primary.button:hover{
    background-color: #45557A;
}

.ui.relaxed.divided.items .item {
    transition: all .5s;
}

.ui.relaxed.divided.items .item:hover{
    transform: scale(1.01);
}

.ui.heart.rating .icon {
    color: red;
}

.item .content .header, .description {
    color: #3A001E ;
}

.ui.horizontal.header.divider {
    color: #f77754 ;
}


#delete, #edit {

    background: none;
    box-shadow: none;
    transition: all .5s;
}

#delete {
    border: 1px solid #f77754;
    color: #f77754;
}

#delete:hover{
    color: #fff;
    background-color: #f77754;
}

#edit {
    border: 1px solid #DF607A;
    color: #DF607A;
    display: inline-block;
}

#edit:hover{
    color: #fff;
    background-color: #DF607A;
}

#read-more {
    float:right;
}

.extra {
    text-align: right;
    width: 50%;
}

.ui.relaxed.divided.items .admin-buttons {
    /*display: none;*/
    display: inline-block;
    opacity: 0;
    transition: opacity .5s;
}

.ui.relaxed.divided.items .item:hover .admin-buttons {
    /*display: inline-block;*/
    opacity: 1;
}

.delete-form {
    /*float: right;*/
    display: inline-block;
}

.blog-preview {
    mask-image: linear-gradient(180deg,#000 50%,transparent);
    -webkit-mask-image: linear-gradient(180deg,#000 50%,transparent);
    transition: .5s;
    overflow: hidden;
    max-height: 100px;
    line-height: 140%;
}

/*.ui.relaxed.divided.items .item:hover .blog-preview {*/
    /*mask-image: linear-gradient(180deg,#000 100%,transparent);*/
    /*-webkit-mask-image: linear-gradient(180deg,#000 100%,transparent);*/
/*}*/

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.blog-admin {
    text-align: center;
}

#loader-2 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
  background-color: #f77754;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
  background-color: #006CBF;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
  background-color: #004E71;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.come-back {
    text-align: center;
}

.come-back h2 {
    color: #006CBF;
}

.no-blogs {
    margin-top: 25%;
}

/* BLOG SHOW PAGE */
.show .image {
    margin: 15px;
}

.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
    font-size: 36px!important;
}

.sticky .ui.labeled.icon.menu .item {
    transition: .6s;
    z-index:9999;
}

.sticky .ui.labeled.icon.menu .item:hover {
    transform: scale(1.05);
    background: none;
}

.ui.labeled.icon.menu {
    background: none;
    /*box-shadow:none;*/
}

.ui.container.share {
    margin-top: 25px;
}

.meta .date {
    border-right: .5px solid #bababa;
    padding-right: 10px;
    color: #5F6A6E ;
}

.meta .label{
    margin-left: 10px;
}

.blog-show-title { 
    color: #2F4858;
}

/* NEW BLOG PAGE */
#new-page {
    margin-top: 6em;
}

/* LOGIN */ 
.login {
    border-top: 1px solid rgba(34,36,38,.15);
    text-align: center;
    padding: 10px;
}

.ui.header.login-header {
    color: #006CBF;
}

.ui.tabular.menu.login-menu, .ui.tabular.menu.login-menu .item.login-item, .ui.bottom.attached.tab.segment {
    border: none;
}

.ui.bottom.attached.tab.segment {
    background-color:#F5E4E3;
}

.ui.tabular.menu.login-menu .item.login-item {
    text-align: center;
}

.ui.tabular.menu.login-menu .item.active {
    background-color: #006CBF;
    color: #fff;
}

/* ADMIN */
.ui.tag.label:hover {
    background-color:#f78465 ;
    color: #fff;
}


/* ANIMATIONS */
.js--wp-2-content {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
}

.js--wp-1-heading {
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.js--wp-1-img, .js--wp-1-buttons {
    opacity: 0;
    animation-duration: 3s;
}

/* FOOTER */

.ui.footer { /* Increased specificity for SO snippet priority */
    width: 100%;
    position: relative;
    clear: both;
    padding-top: 20px;
    height: 200px;
}

.ui.inverted.vertical.footer.segment {
    background-color: #507D95;
}

.centerMe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    margin-top: 10px;
}

::-webkit-input-placeholder {
  color: #f77754;
}

.cta {
  background: #fff;
  font-weight: bold;
  border-radius: 25px;
  line-height: 50px;
  height: 50px;
  width: 170px;
  text-align: center;
  transition: width .2s ease-in-out;
  cursor: pointer;
}
.cta .hide {
  display: none;
}
.cta form {
  display: flex;
}
.cta span {
  opacity: 0;
  width: 100%;
  color: #f77754;
  text-align: center;
  -webkit-animation: fadeIn .3s ease-in-out;
          animation: fadeIn .3s ease-in-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cta .input {
  display: none;
  opacity: 0;
  flex: 3;
  text-align: left;
}
.cta .input input {
  border: 0;
  width: 240px;
  height: 45px;
  margin: 0 0 0 25px;
  outline: none;
  color: #FF7B73;
}
.cta .button {
  display: none;
  opacity: 0;
  flex: 1;
}
.cta .button button {
  outline: none;
  float: right;
  padding: 0 15px;
  height: 40px;
  background: #F77754;
  border-radius: 25px;
  color: #fff;
  border: 0;
  margin: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  
}
.cta .button button:disabled {
  color: #FC9F9D;
  opacity: .8;
}
.cta.sent {
  cursor: default;
}
.cta.active {
  width: 350px;
  text-align: left;
  transition: width .2s ease-in-out;
  cursor: default;
}
.cta.active span {
  display: none;
}
.cta.active .input, .cta.active .button {
  display: block;
  -webkit-animation: fadeIn .3s ease-in-out;
          animation: fadeIn .3s ease-in-out;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* 404 "Catch-all" Page */ 

.oops {
    color: #f77754;
}

.oops-description{
    margin: 50px 0px;
    color: #006CBF;
    font-size: 1.75em;
}

.ui.button.oops {
    font-size: 20px;
}