/* Components */

/*
PALLETTE
f77754 - Orange
018790 - blue/green
0a516d - blue
2b2726 - dark blue
*/

html, body {
    background: #fbf9f4;
    color: #5F6A6E;
}

.ui.header {
    color: #5F6A6E;
}

h1, h2, h3, h4, p, li, ul, .ui.menu {
    font-family:  'Cuprum', sans-serif;
}

hr {
    margin: 0 15%;
    color: rgba(200, 200, 200, .5);
}

li {
    font-size: 115%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 115%;
}

.card {
    text-align: left;
}

nav {
    margin-bottom: 15px;
}

/* nav */ 

.ui.secondary.menu .item{
    transition: all .5s;
    border-radius: none;
    margin-right: 10%;
}

.ui.secondary.menu .item:hover{ 
    color: #D6C7C3;
    border-radius: 0;
}

.ui.secondary.menu .item.active {
    border-bottom: 1px solid black;
    background-color: #D6D1C3;
    border-radius: 0;
    color: #fff;
    transition: all .5s;
}

.ui.secondary.menu .item.active:hover {
    color: #fff;
}

.ui.menu .item{
    text-transform: uppercase;
    color: #696B78;
}

.headline {
    color: #696B78;
}

/* Landing page */

.tagline {
    margin-bottom: 5%;
}
.profile img{
    border: 2px solid #D8D8D9;
    transition: .5s;
    margin: 30px 0;
}

.profile .image:hover {
    transform: scale(1.05);
}

.ui.header.side {
    color: #f77754;
}

.ui.text.shape.title {
    min-width: 50%;
    min-height: 100px;
    text-align: center;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    margin-bottom: 20px;
}

/* BLOG PAGE */

.featured-blog-container {
    height: 500px;
    padding: 50px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #bababa;
}

.category-box {
    color: white;
    width: 20%;
    min-width: 150px;
    text-align: left;
    border-radius: 5px;
}

.category-name {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.ui.large.header.blog {
    font-size: 1em;
}

#blog-category {
    margin: 15px auto;
    
}

#feature-button {
    margin-top: 10px;
}


/* BLOG SHOW PAGE */

#show-image { 
    width: 400px;
    height: auto;
    border-radius: 50px;
}

#show-title-box {
    margin: 0;
    margin-bottom: 50px;
    padding: 5%;
     background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffeeee, #ddefbb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffeeee, #ddefbb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* NEW BLOG PAGE */
#new-page {
    margin-top: 6em;
}

/* BUTTONS */

.ui.animated.button {
    position:static ;
}

.button.home {
    margin-top: 5%;
    min-width: 250px;
    width: 15%;
    text-align: center;
    padding: 15px 0;
    outline: none;
    border-radius: 0;
    background: #fff;
}

a.ui.button.home {
    color: #f77754;
}

a.ui.button.home.blog {
    color: #2b2726;
}

#read-more {
    margin-bottom: 2.5%;
    color: #2980B9 !important;
    border: .2px solid #2980B9;
    transition: .4s;
}

/* ANIMATIONS */
.js--wp-2-content {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
}

.js--wp-1-heading {
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.js--wp-1-img, .js--wp-1-buttons {
    opacity: 0;
    animation-duration: 3s;
}

#proceed {
    opacity: 0;
    animation-duration: 5s;
}